:root {
    --primary-neon-green: #04cc33;
    --primary-dark: #0e0f0d;
    --primary-light: #ffffff;
}

body {
    font-family: Roboto,sans-serif;
    overflow: hidden; 
  }

h2 { 
    color: var(--primary-light)
}

.navbar-custom { 
    background-color: var(--primary-dark);
}

.row{
    width: 50%;
    padding-top: 0%;
}


#resume_view {
    width: 100%;
    height: 100%;
}

#c {
    left:0;
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}
#dp {
    padding: 40px 40px 40px 40px;
    max-width: 300px;
}